div
{
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #FFFFFF;
  margin: 20px;
}
#one {
    background-color: #F5F5DC;
    border: 1px solid black;
    transform-origin: 50% 50%;
    transform: scale(1) rotate(25deg) translate(300px, 0px);
}
#two {
    background-color: #F5F5DC;
    border: 1px solid black;
    transform-origin: 50% 50%;
    transform: scale(1) rotate(-245deg) translate(-100px, -200px);
}
#three {
    background-color: #F5F5DC;
    border: 1px solid black;
    transform-origin: 50% 50%;
    transform: scale(1) rotate(205deg) translate(-100px, 0px);
}
#four {
    background-color: #F5F5DC;
    border: 1px solid black;
    transform-origin: 50% 50%;
    transform: scale(1) rotate(-65deg) translate(-100px, 200px);
    
}
